#s1{
    text-align: center;
    color: black;
}
#s2{
    font-size: x-large;
    color: rgb(2, 2, 2);
}
#s0{
    background-color: rgba(142, 4, 4, 0.789);
}
#a1{
    background-color: rgba(90, 11, 238, 0.899);
}
#a2{
    color: black;
    text-align: center;
    font-size: xxx-large;
}
#a3{
color: #000;
font-size: x-large;
}
#c1{
    background-color: rgba(220, 13, 13, 0.69);
}
#c2{
    color: antiquewhite;
    font-size: xx-large;
    text-align: center;
}
#c3{
    color: beige;
}
#c4{
    color: antiquewhite;

}
#c5{
    color: azure;
}
#p1{
    background-color: antiquewhite;
}
#p2{
    background-color: darkblue;
    color: aliceblue;
    text-align: center;
}
#p3{
    background-color: rgb(45, 45, 190);
  font: bold;
  color: aliceblue;
}
#p4{
    background-color: rgb(45, 45, 190);
    font: bold;
    color: aliceblue;
    
}
#p5{
    background-color: rgb(45, 45, 190);
    font: bold;
    color: aliceblue;
}
#p6{
    background-color: rgba(0, 34, 255, 0.918);
    font: bold;
    color: aliceblue;
}
#p7{
    background-color: rgba(0, 34, 255, 0.918);
    font: bold;
    color: aliceblue;
}
#p8{
    background-color: rgba(0, 34, 255, 0.918);
    font: bold;
    color: aliceblue;
}
#p9{
    background-color: rgba(0, 34, 255, 0.918);
    font: bold;
    color: aliceblue;
}
#d1{
    color: rgba(255, 0, 0, 0.967);
    font-size: larger;
}
#x1{
    text-align: center;
    color: bisque;
    background-color: rgb(40, 171, 4);
}
#x2{
    color: azure;
    background-color: rgb(45, 144, 17);
}
#x3{
    color: azure;
    background-color: rgb(9, 114, 22);

}
#g1{
    background-color: rgba(14, 162, 173, 0.499);
}
#g2{
    text-align: center;
}
#g3{
    color: rgb(255, 0, 0);
    font-size: larger;
text-shadow: #ff0000;
    
}
#b1{
    background-color: rgba(133, 17, 162, 0.786);
}
#b2{
    text-align: center;
    background-color: #04030328;
}
#b3{
    background-color: #0e008954;
}
#b4{
    background-color: #2fff0069;
}
#b5{
    text-align: center;
    background-color: rgba(0, 255, 255, 0.236);
}
#d11{
    color: #ff0000;
    background-color: rgba(0, 0, 0, 0.433);
}
#t1{
    background-color: rgba(16, 12, 213, 0.449);
}
#t2{
    text-align: center;
    background-color: cadetblue;
}
#t3{
    background-color: rgba(48, 137, 140, 0.422);
}

